/* Global styles */
body {
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
  }
  
  /* Header styles */
  header {
    background-color: rgba(255, 255, 255, 0); /* Use RGBA to set a transparent background color */
    backdrop-filter: blur(0px); /* Apply a blur effect to the background */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */  
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0px
    
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 1em;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Main content styles */
  main {
    max-width: 600px;
    margin: 0 auto;
    padding: 2em;
    margin-left: 10%; /* or adjust to your desired amount */
    width: 50%; /* or adjust to your desired amount */
  }
  
  section {
    margin-bottom: 2em;
  }
  
  section h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  
  section p {
    line-height: 1.5;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  
  .social-icons li {
    margin: 0 10px;
  }
  
  .social-icons a {
    color: #fff;
    transition: all 0.3s ease-in-out;
  }
  
  .social-icons a:hover {
    transform: scale(1.2);
  }
  
  .fa-3x {
    font-size: 3em;
  }
  
  .container {
    width: 100%;
    margin: 0 auto;
  }
  
  .inner-container {
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.9);
    padding: 10px;
  }
  
  header img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }
  